*{
    font-family: 'HvDTrial Brandon Grotesque', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

/* BARRA DE DESPLAZAMIENTO */

html{
    font-size: 20px;
    overflow-x: hidden;
    scroll-padding-top: 144px;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 12.8px;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: #FFF;
    border-radius: 80px;
}
 
/* PAGINA INICIO*/

body{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: 'HvDTrial Brandon Grotesque', sans-serif;
}

.main{
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
    url('./escuela de internet/mikail-mcverry-GSL3IuuwJv8-unsplash_1.png');
    background-repeat: no-repeat;
    width: device-width;
    height: 1080px;
    position:relative;
    background-attachment: relative;
    background-position: center; 
    color: rgb(255, 255, 255);
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 200px;
    position: relative;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url("./escuela de internet/Group 241.png");
    background-position: 95% 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    color: #FFFFFF;
    float: right;
    margin-right: 50px;
    width: 60%
}

h1{font-size: 80px; font-family: "Regal Display Pro"}
h2{
    color: #DF991B;
    text-align: right;
    font-family: PF Regal Display Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.5%
}


h3{
    color: #000;
    text-align: right;
    font-family: PF Regal Display Pro;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%
}

h4{
    color: #000;
    font-family: 'HvDTrial Brandon Grotesque', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 330;
    line-height: 150%
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 5px;
    padding-right: 50px;
}

.mobile {
    display: none;
}
@media (max-width: 600px) {
    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
  }


header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    padding: 25px;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

header a{
    color: #FFF;
    text-align: center;
    font-family: 'HvDTrial Brandon Grotesque', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 390;
    line-height: 45px;
    text-decoration: none;
}

.vl {
  border-left: 1px solid #7E7E7E;
  height: 75px;
  border-radius: 8px
}

.vl2 {
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    height: 20px;
  }

.vl3 {
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    height: 20px;
}

.vl4 {
    width: 1920px;
    height: 1px;
    background: rgba(255, 255, 255, 0.50);
}

redes{
    position:fixed;
    color: #7E7E7E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    writing-mode: vertical-lr;
    width: 19px;
    height: 327px;
    left: 50px;
    bottom: 10%;
}

redes a{
    color: #7E7E7E;
    text-align: center;
    font-family: 'HvDTrial Brandon Grotesque', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 390;
    line-height: 45px;
    text-decoration: none;
    float: 
}

.navbar{
    color: #7E7E7E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.luxuryrealestate{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 10%;
    padding-top: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.luxuryrealestate .container{
    position: absolute;
    bottom: 0;
}

.luxuryrealestate a{
    font-family: "PF Regal Display Pro";
}


buttons{
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 200px;
    position: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    padding: 25px 0px 25px 40px;
    color: #FFFFFF;
    float: right;
    margin-right: 20px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    flex-shrink: 0; 
}

buttons .first{
    background-image: url("./escuela de internet/Group 240.svg");
    background-position: 0% 50%;
    width: 100%;
    background-repeat: no-repeat;
}

buttons .second{
    color: #000;
    text-align: center; 
    border-radius: 100px;
    border: 1px solid #000;
    width: 407px;
    height: 80px;
    padding: 20px 25px 25px 25px;
}

.prev{
    color: #000;
    text-align: center; 
    border-radius: 100px;
    border: 1px solid #000;
    width: 407px;
    height: 80px;
    padding: 20px 25px 25px 25px;
}

.next{
    color: #000;
    text-align: center; 
    border-radius: 100px;
    border: 1px solid #000;
    width: 407px;
    height: 80px;
    padding: 20px 25px 25px 25px;
}


.buttonnav {
    position: relative;
    display: flex;
    left: 10%;
    width: 40%;
    align-items: center;
    float: right
}

.buttonnav2 {
    position: relative;
    display: flex;
    margin-left: 10%;
    right: 30%;
    width: 40%;
    align-items: center;
    float: left
}

gallery1 {
    position: relative;
    display: flex;
    padding-top: 20px;
    padding-right: 100px;
    align-items: center;
    float: left
}

gallery1 .showcase1 {
    display: flex;
    position: relative;
}

gallery1 .text1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

gallery1 .explanation1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-align: right;
    align-items: right;

}

gallery1 .headers1 {
    position: relative;
    left: 10%;
    font-family: PF Regal Display Pro;
}

gallery2 {
    position: relative;
    display: flex;
    padding-top: 20px;
    padding-left: 100px;
    align-items: center;
    float: left
}

gallery2 .showcase2 {
    display: flex;
    position: relative;
}

gallery2 .text2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

gallery2 .explanation2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-align: left;
    align-items: right;

}

gallery2 .headers2 {
    position: relative;
    left: 10%;
    font-family: PF Regal Display Pro;
}

h5{
    color: #DF991B;
    text-align: left;
    font-family: PF Regal Display Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.5%
}


h6{
    color: #000;
    text-align: left;
    font-family: PF Regal Display Pro;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%
}

h7{
    color: #000;
    font-family: 'HvDTrial Brandon Grotesque', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 330;
    line-height: 150%
}
